apiVersion: v2
name: konnectivity
description: Helm Chart for deploying the konnectivity agent, plus server RBAC.
type: application
home: https://github.com/syself/charts/tree/main/charts/konnectivity-agent
maintainers:
  - name: Syself
    email: info@syself.com
    url: https://github.com/syself
dependencies:
  - name: cluster-proportional-autoscaler
    repository: https://kubernetes-sigs.github.io/cluster-proportional-autoscaler
    version: 1.1.0
    appVersion: 1.8.6
    alias: proportional-autoscaler
    condition: proportional-autoscaler.enabled
version: 2.0.0
