apiVersion: v2
name: konnectivity-agent
description: Helm Chart for deploying the konnectivity agent.
type: application
home: https://github.com/syself/charts/tree/main/charts/konnectivity-agent
maintainers:
  - name: Syself
    email: info@syself.com
    url: https://github.com/syself
dependencies:
  - name: cluster-proportional-autoscaler
    repository: https://kubernetes-sigs.github.io/cluster-proportional-autoscaler
    version: 1.0.0
    alias: proportional-autoscaler
    condition: proportional-autoscaler.enabled
appVersion: v0.0.32
version: 1.0.3
