apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "cluster-api-provider-hetzner.fullname" . }}-controller-manager
  labels:
  {{- include "cluster-api-provider-hetzner.labels" . | nindent 4 }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cluster-api-provider-hetzner.fullname" . }}-controller-manager
  labels:
    control-plane: caph-controller-manager
  {{- include "cluster-api-provider-hetzner.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.controllerManager.replicas }}
  selector:
    matchLabels:
      control-plane: caph-controller-manager
    {{- include "cluster-api-provider-hetzner.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        control-plane: caph-controller-manager
      {{- include "cluster-api-provider-hetzner.selectorLabels" . | nindent 8 }}      annotations:
        kubectl.kubernetes.io/default-logs-container: manager
    spec:
      containers:
      - args:
        - --leader-elect
        command:
        - /manager
        image: {{ .Values.controllerManager.manager.image.repository }}:{{ .Values.controllerManager.manager.image.tag
          | default .Chart.AppVersion }}
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        name: manager
        ports:
        - containerPort: 9443
          name: webhook-server
          protocol: TCP
        - containerPort: 9440
          name: healthz
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources: {{- toYaml .Values.controllerManager.manager.resources | nindent 10
          }}
        volumeMounts:
        - mountPath: /tmp/k8s-webhook-server/serving-certs
          name: cert
          readOnly: true
      serviceAccountName: {{ include "cluster-api-provider-hetzner.fullname" . }}-controller-manager
      terminationGracePeriodSeconds: 10
      volumes:
      - name: cert
        secret:
          defaultMode: 420
          secretName: webhook-server-cert